# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
scikit-learn
tensorflow-macos==2.8.0; sys_platform == 'darwin' and 'ARM' in platform_version
tensorflow==2.8.0; sys_platform == 'darwin' and 'ARM' not in platform_version
tensorflow==2.8.0; sys_platform != 'darwin'
keras
tqdm
pandas

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
